@font-face {
  font-family: "iconfont"; /* Project id 4337334 */
  src: url('iconfont.woff2?t=1713421660942') format('woff2'),
       url('iconfont.woff?t=1713421660942') format('woff'),
       url('iconfont.ttf?t=1713421660942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
  content: "\e60f";
}

.icon-home:before {
  content: "\e63b";
}

.icon-end:before {
  content: "\e63c";
}

.icon-pass:before {
  content: "\e63d";
}

.icon-shuqian:before {
  content: "\e620";
}

.icon-message:before {
  content: "\e679";
}

.icon-add-model:before {
  content: "\e90e";
}

.icon-location:before {
  content: "\e87e";
}

.icon-three-screen-v:before {
  content: "\e601";
}

.icon-two-screen-v:before {
  content: "\e600";
}

.icon-one-screen:before {
  content: "\e672";
}

.icon-three-screen:before {
  content: "\e673";
}

.icon-four-screen:before {
  content: "\e674";
}

.icon-two-screen:before {
  content: "\e675";
}

.icon-clear:before {
  content: "\e718";
}

.icon-height:before {
  content: "\ec62";
}

.icon-refresh-1:before {
  content: "\e68f";
}

.icon-error:before {
  content: "\e690";
}

.icon-dayuhao:before {
  content: "\e625";
}

.icon-weather:before {
  content: "\e60e";
}

.icon-refresh:before {
  content: "\e8aa";
}

.icon-setUp:before {
  content: "\e67e";
}

.icon-house:before {
  content: "\e610";
}

.icon-search:before {
  content: "\e611";
}

.icon-layer:before {
  content: "\e613";
}

.icon-transparency:before {
  content: "\e661";
}

.icon-in:before {
  content: "\e6ac";
}

.icon-out:before {
  content: "\e6ad";
}

.icon-distance:before {
  content: "\e624";
}

.icon-buffer:before {
  content: "\e62b";
}

.icon-path:before {
  content: "\e66d";
}

.icon-area:before {
  content: "\e65e";
}

