<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.dao.DataBookMapper">

    <select id="selectDataBook" resultType="com.young.entity.DataBook" parameterType="com.young.entity.DataBook">
        SELECT * FROM data_book
        <where>
            1=1
            <if test="bookName != null">
                book_name = #{bookName} and
            </if>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

</mapper>