<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.dao.LayerManageMapper">

    <resultMap id="LayerManageMap" type="com.young.entity.LayerManage">
        <result property="id" column="id"/>
        <result property="layerName" column="layer_name"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="gisDataUrl" column="gis_data_url"/>
        <result property="apiDataUrl" column="api_data_url"/>
        <result property="gisDataKey" column="gis_data_key"/>
        <result property="fieldsMap" column="fields_map"/>

        <collection property="deptList" ofType="com.young.entity.SysDept">
            <result property="did" column="did"/>
            <result property="dname" column="dname"/>
        </collection>
    </resultMap>


    <select id="selectLayerManage" resultMap="LayerManageMap">
        SELECT
        l.id,
        l.layer_name,
        l."type",
        l.url,
        l.gis_data_url,
        l.gis_data_key,
        l.api_data_url,
        l.fields_map,
        d.did,
        d.dname
        FROM
        layer_manage l
        LEFT JOIN layer_dept ld ON l.id = ld.layer_id
        LEFT JOIN sys_dept d ON ld.did = d.did
    </select>
</mapper>
