<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.dao.SysRoleMapper">

    <resultMap id="roleMap" type="SysRole">
        <id property="rid" column="rid"/>
        <result property="rname" column="rname"/>
        <result property="rdesc" column="rdesc"/>
        <result property="rval" column="rval"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getRolesByUserId" resultType="SysRole">
        SELECT r.rname, r.rval
        FROM sys_role r,
             sys_user_role ur
        WHERE r.rid = ur.role_id
          AND ur.user_id = #{userId}
    </select>

    <select id="getRoleIdsByUserId" resultType="java.lang.String">
        SELECT r.rid
        FROM sys_role r,
             sys_user_role ur
        WHERE r.rid = ur.role_id
          AND ur.user_id = #{userId}
    </select>

    <select id="checkRidsContainRval" resultType="java.lang.Boolean">
        SELECT
        CONCAT(',',GROUP_CONCAT(rval SEPARATOR ','),',')
        REGEXP CONCAT(',',#{rval},',{1}') AS result FROM sys_role
        WHERE rid IN
        <foreach collection="rids" item="rid" separator="," open="(" close=")">
            #{rid}
        </foreach>
    </select>

    <select id="checkUidContainRval" resultType="java.lang.String">
        select r.rval
        from sys_user_role ur
                 left join sys_role r on ur.role_id = r.rid
        where ur.user_id = #{uid}
    </select>


    <select id="getRoles" parameterType="com.young.entity.SysRole" resultType="SysRole">
        SELECT rid,rname,rdesc,rval,created,updated FROM sys_role where 1=1 order by created asc
        <if test="rname!=null and rname!=''">
            and rname like '%${rname}%'
        </if>
        <if test="rid!=null and rid!=''">
            and rid = #{rid}
        </if>
        <if test="rval!=null and rval!=''">
            and rval = #{rval}
        </if>
        <if test="rdesc!=null and rdesc!=''">
            and rdesc = #{rdesc}
        </if>
        <if test="created!=null and created!=''">
            and created = #{created}
        </if>
        <if test="updated!=null and updated!=''">
            and updated = #{updated}
        </if>
    </select>


</mapper>
