<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.dao.SysUserMapper">
    <update id="updateAvatarByUname">
        update sys_user
        set avatar=#{avatar}
        where uname = #{uname}

    </update>

    <select id="selectUserRoleDept" resultType="com.young.entity.SysUser">
        SELECT
        u.uid,
        u.uname,
        u.nick,
        u.pwd,
        u.salt,
        u.avatar,
        u.created,
        u.updated,
        r.rid AS roleId,
        r.rname AS roleName,
        d.did AS deptId,
        d.dname AS deptName
        FROM
        sys_user u
        LEFT JOIN sys_dept_user ud ON u.uid = ud.uid
        LEFT JOIN sys_dept d ON d.did = ud.did
        LEFT JOIN sys_user_role ur ON u.uid = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.rid
        <where>
            1=1
            <if test="nick != null and nick != ''">
                and u.`nick` like concat('%',#{nick},'%')
            </if>
            <if test="deptId != null and deptId != ''">
                and ud.did = #{deptId}
            </if>
        </where>
        order by u.created desc
    </select>
</mapper>
